fastapi
faiss-cpu
groq
hermes-agent
numpy
openpyxl
pandas
pyarrow
python-multipart
pydantic
pymongo
PyMuPDF
python-docx
python-dotenv
scikit-learn
scipy
sentence-transformers
torch
tqdm
transformers
uvicorn
mem0ai
langfuse
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
bcrypt
PyJWT
email-validator
